.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

h1{
    color: #cc4425;
    font-family: 'owsald',sans-serif;
    font-size: 3rem;
    line-height: 1.15;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: .5em;
    text-transform: uppercase;
}

h1 span  {
    color: #ddd;
    font-size: .5em;
    display: block;
}

h2{
    color: #7fffd4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.3rem;
    line-height: 1.20;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: .7em;
    text-transform: uppercase;
}

h2{
    color: #ddd;
    font-size: .7em;
    display: block;
}

h3{
    color: #ffa500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    line-height: 1.25;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: .8em;
    text-transform: uppercase;
}

h2{
    color: azure;
    font-size: .8em;
    display: block;
}

p{
    color: #3e4147;
    font-family: 'arvo',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 2em;
}

@media (min-width:600px)
