.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

h1{
    color: #cc4425;
    font-family: 'owsald',sans-serif;
    font-size: 3rem;
    line-height: 1.15;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: .5em;
    text-transform: uppercase;
}

h1 span  {
    color: #ddd;
    font-size: .5em;
    display: block;
}

h2{
    color: #7fffd4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.1rem;
    line-height: 1.16;
    font-weight: 850;
    margin-top: 0;
    margin-bottom: .6em;
    text-transform: uppercase;
}

h2{
    color: #ddd;
    font-size: .6em;
    display: block;
}

h3{
    color: #ffa500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    line-height: 1.17;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: .7em;
    text-transform: uppercase;
}

h2{
    color: azure;
    font-size: .8em;
    display: block;
}

p{
    color: #3e4147;
    font-family: 'arvo',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 2em;
}

@media (min-width:320px){
    p{
        font-size: 1.25rem;
    }
}

@media (min-width:360px){
    p{
        font-size: 1.25rem;
    }
}



@media (min-width:600px){
    p{
        font-size: 1.25rem;
 }
}

@media (min-width:676px){
    p{font-size: 1.25rem;
    }
}

@media (min-width:768px){
    p{
        font-size: 1.25rem;
    }
}

@media (min-width:800px){
    
}

@media (min-width:992px){
    p{
font-size: 1.25rem;
    }
}
