.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

h1{
    color: #cc4425;
    font-family: 'owsald',sans-serif;
    font-size: 3rem;
    line-height: 1.15;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: .5em;
    text-transform: uppercase;
}

h1 span  {
    color: #ddd;
    font-size: .5em;
    display: block;
}

h2{
    color: #7fffd4;
    font-family: sanser;
}