*{ ... }

body { ... }
img { ... }

/* **** MEDIA QUERIES **** */
@media print { ... }

@media screen  and (max-width: 319px;) { ... }

@media screen and (max-width: 320px;) { ... }

@media screen and (max-width: 500px;) { ... }

@media screen and (max-width: 600;) { ... }

@media screen and (max-width: 700;) { ... }