*{
    margin: 0;
    padding: 0;
    transition: 0;
    overflow: hidden;
    font-family: sans-serif;
}
.container-fluid{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left,rgba);
}