*{
    box-sizing: border-box;
}

html{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: "montserrar", sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
}