*{
    box-sizing: border-box;
}

html{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: "montserrar", sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
}

h1{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: blue;
    transform: translateY(20px);
    transition: all 0.4s ease;
    transition-delay: 0.2s;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media screen and (max-width: 520px) {
    h1{
        font-size: 16px;
        line-height: 24px;
    }
}

 p{
    font-size: 16px;
    line-height: 24px;
    color: orange;
    transform: translateY(20px);
    transition: all 0.4s ease;
    transition-delay: 0.3s;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 @media screen and  (max-width: 520px) {
    p{
        font-size: 14px;
        line-height: 20px;
    }
 }
 
 .swiper-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
 }
 .swiper-container{
    width: 100%;
    position: relative;
    max-width: 420px;
    height: 100%;
    max-height: 420px;
    border-radius: 10px;
 }

 .slider-image-wrapper{
    height: 200px;
    width: 100%;
    overflow: hidden;
 }

 .slider-item{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    opacity: 0;
    cursor: -webkit-grab;
    cursor: grab;
 }
 .slider-item-content{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
 }
 .slider-item-content> * {
    opacity: 0;
    transform: translateY(20px);
 }
 .slider-image{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    transition: 0.2s;
 }
 .swiper-pagination{
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
    z-index: 1;
    width: auto !important;
 }
 
.swiper-pagination-bullet{
    border-radius: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 12px;
    opacity: 1;
    background: rgba(255, 185, 0, 0.3);
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.slider-item-content > * {
    opacity: 0;
    transform: translateY(20px);
}

.slider-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: 0.2s;
}

.swiper-pagination{
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translateX(-);
}

