* {
  margin: 0;
  padding: 0;
  transition: 0;
  overflow: hidden;
  font-family: sans-serif;
}
.container-fluid{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left,rgba(0,0,0,0.5)50%,
    rgba(0,0,0,0.5)50%),url(send\ us.jpg) center/cover;
  background-repeat: no-repeat;
}
.container{
  width: 1200px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: whitesmoke;
  cursor: pointer;
}
nav ul{
  list-style:none ;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li{
  margin-right: 30px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: 400;
  font-size: 15px;
}
.active{
  color: blue;
}

